In [ ]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras

In [ ]:
fashion_mnist = keras.datasets.fashion_mnist

In [ ]:
(X_train_full,y_train_full),(X_test,y_test) = fashion_mnist.load_data()

In [ ]:
class_names = ["Tshirt/Top","Trouser","Pullover","Dress","Coat","Sandal","Shirt","Sneaker","Bag","Ankle Boot"]

In [ ]:
X_train_full = X_train_full.reshape((60000,28,28,1))
X_test = X_test.reshape((10000,28,28,1))

In [ ]:

X_train_n = X_train_full/255
X_test_n = X_test /255

In [ ]:
X_valid,X_train = X_train_n[:5000],X_train_n[5000:]
y_valid , y_train = y_train_full[:5000],y_train_full[5000:]
X_test = X_test_n

In [ ]:
np.random.seed(42)
tf.random.set_seed(42)

In [ ]:
model = keras.models.Sequential()
model.add(keras.layers.Conv2D(filters =32 ,kernel_size =(3,3),strides = 1 ,padding ='valid', activation ='relu', input_shape = (28,28,1)))
model.add(keras.layers.MaxPooling2D((2,2)))
model.add(keras.layers.Flatten())
model.add(keras.layers.Dense(300,activation ="relu"))
model.add(keras.layers.Dense(100,activation ="relu"))
model.add(keras.layers.Dense(10,activation ="softmax"))

In [ ]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_3 (Conv2D)            (None, 26, 26, 32)        320
_________________________________________________________________
max_pooling2d_3 (MaxPooling2 (None, 13, 13, 32)        0
_________________________________________________________________
flatten_3 (Flatten)          (None, 5408)              0
_________________________________________________________________
dense_9 (Dense)              (None, 300)               1622700
_________________________________________________________________
dense_10 (Dense)             (None, 100)               30100
_________________________________________________________________
dense_11 (Dense)             (None, 10)                1010
=================================================================
Total params: 1,654,130
Trainable params: 1,654,130
Non-trainable params: 0
_________________________________________________________________